<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Blazing Fast Deliveries</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>

    <body>
        <form method="post" enctype="multipart/form-data" th:action="@{/post-item}" th:object="${item}">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <input type="text" id="itemname"  class="form-control border-0" placeholder="Item Name" style="height: 55px;">
                </div>
               
                <div class="col-12 col-sm-6">
                    <input type="text" id="itemcode"  class="form-control border-0" placeholder="Your Item Code" style="height: 55px;">
                </div>
                <div class="col-12 col-sm-6">
                    <input type="text" id="itemweight"  class="form-control border-0" placeholder="Item Weight" style="height: 55px;" value="0.0">
                </div>
                <div class="col-12">
                   <a href="/post-item"> <button class="btn btn-primary w-100 py-3" type="submit">Submit</button></a>
                </div>
            </div>
        </form>
    </div>


    </body>